<glen-player-display display="recording.getDisplay()"></glen-player-display>
<div class="glen-player-controls" ng-show="recording">

    <!-- Playback position slider -->
    <input class="glen-player-seek" type="range" min="0" step="1"
           ng-attr-max="{{ recording.getDuration() }}"
           ng-change="beginSeekRequest()"
           ng-model="playbackPosition"
           ng-on-change="commitSeekRequest()">

    <!-- Play / Pause buttons -->
    <button class="glen-player-play" ng-click="recording.play()" ng-hide="recording.isPlaying()">Play</button>
    <button class="glen-player-pause" ng-click="recording.pause()" ng-show="recording.isPlaying()">Pause</button>

    <!-- Playback position and duration -->
    <span class="glen-player-position">
        {{ formatTime(playbackPosition) }}
        /
        {{ formatTime(recording.getDuration()) }}
    </span>

</div>