<!-- Actual playback display -->
<glen-player-display display="recording.getDisplay()"
                     ng-click="togglePlayback()"></glen-player-display>

<!-- Player controls -->
<div class="glen-player-controls" ng-show="recording">

    <!-- Playback position slider -->
    <input class="glen-player-seek" type="range" min="0" step="1"
           ng-attr-max="{{ recording.getDuration() }}"
           ng-change="beginSeekRequest()"
           ng-model="playbackPosition"
           ng-on-change="commitSeekRequest()">

    <!-- Play button -->
    <button class="glen-player-play"
            title="Play"
            ng-click="recording.play()"
            ng-hide="recording.isPlaying()"><i class="fas fa-play"></i></button>

    <!-- Pause button -->
    <button class="glen-player-pause"
            title="Pause"
            ng-click="recording.pause()"
            ng-show="recording.isPlaying()"><i class="fas fa-pause"></i></button>

    <!-- Playback position and duration -->
    <span class="glen-player-position">
        {{ formatTime(playbackPosition) }}
        /
        {{ formatTime(recording.getDuration()) }}
    </span>

</div>

<!-- Modal status indicator -->
<div class="glen-player-status" ng-show="operationText">
    <glen-player-progress-indicator progress="operationProgress"></glen-player-progress-indicator>
    <p>{{ operationText }}</p>
    <button class="glen-player-button" ng-show="cancelOperation"
            ng-click="cancelOperation()"><i class="fas fa-stop"></i> Cancel</button>
</div>
