<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Glyptodon Enterprise - Session Recording Player (Resize Sensor)</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
    </head>
    <body><!--
                                                    _/     sw+
                                                    jm   _yWc
                               ______.             _QQL  !Q?
                          _amQQQQQQQQQQQga,        jQQQ, 7   .___,.
                        _yQQQQQQQQQQQQQQQQQQw,     jQQQg    )QQWT?"
                       jQQQQQQQQQQQQQQQQQQQQWQg,   ]QQQQm, ~~~-
                      jQQQQQQQQQQQQQQQQQQQQQQQQQgwmQQQQQQ.., _,
                     jQQQQQQQQQQQQQQQQQQQQQQQQQQWWP~-$QQQk -?wQga
                    _QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ,  4QQQc   ?`?$
                  .ayQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQm   "4QQ
                 _yQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ[    -?(
              .sjQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQa,__aaaaa,.
             ayQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQWQWWQQQQW?9WQm,
          _jQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQwyQWQm
         _yQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQWQQQQ[
         --"""^"^-`-` -"??TQWQQQQQQQQQQQQQQQQQQQP?"-~?9$QQQQQQQQQf
                          .QQQQQQQQQ/  jQQQQQQQQg,         -~~~~-
                           ^^^^^^^^^^  -^~^~^~^~^`
    --></body>
</html>